.nav {
    display: flex; /* Aligne les éléments en ligne */
    justify-content: center; /* Centrer les éléments horizontalement */
    list-style-type: none; /* Enlève les points noirs */
    padding-left: 0; /* Enlève le padding par défaut */
    padding: 30px 0px 0px;
}

.nav-item {
    margin: 0 80px; /* Ajoute de l'espace entre les éléments */
    display: flex; /* Utilise flexbox pour centrer le contenu */
    justify-content: center; /* Centre le contenu horizontalement */
    align-items: center; /* Centre le contenu verticalement si nécessaire */
    text-align: center; /* Centre le texte */
}

.nav-link {
    text-align: center; /* Centrer le texte des liens */
    color: black; /* Couleur du texte des liens */
}

.nav-link.active, .nav-link {
    font-weight: bold; /* Rendre l'élément actif plus visible */
}


.navbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #F9EBEB;
    padding: 10px;
    align-items: center;
}


body {
    margin: 0px;
}


.navbar2 {
    background-color: #FFDBDB;
    padding: 0px 0px 0px;
}

.logo2 {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    justify-content: center;
    flex-grow: 1;
}

.logo2 img {
    width: 38%; /* Ajuste la largeur à la taille désirée */
    height: auto; /* Maintient les proportions de l'image */
    margin: 0px;
}


.animaux {
    margin: auto;
    width: 100%;
    text-align: center;
    padding: 20px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.banniere img {
    width: 100%;
    height: auto;
}


.menu-hamburger img {
  margin-right: auto;
  left: 10px;
  width: 60px;
}

.search-icon img {
   margin-right: auto;
  left: 9%;
  width: 30px;
  top: 5%;
}

